@model IEnumerable<_190410_BlogV1.Kategoriler>

@{
    ViewBag.Title = "KategoriListesiIndex";
    Layout = "~/Areas/AdminPaneli/Views/Shared/AdminLaoutPage.cshtml";
}

<div class="container">


    <div class="content-wrapper">
        <p>
            @Html.ActionLink("Kategori Ekle","KategoriEke",null, new { @class = "btn btn-primary" })
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.KategoriAdi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Aciklama)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.KategoriAdi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Aciklama)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.KategorilerID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.KategorilerID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.KategorilerID })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

